@using Models.Recettes;
@using FullNgCookingWithMVC5.Controllers; 
@helper DisplayBestRecette(IList<Recette> bestRecettes, RecetteController recetteCntrl)
{
foreach (var item in bestRecettes)
{
        <div class="col-xs-6 col-sm-3 recette">
           
        </div>
}

} 
@helper DisplayNewRecette(IList<Recette> newRecettes)
{

}


