@using Models.Recettes;
@using FullNgCookingWithMVC5.Controllers; 
@{
    RecetteController recetteCntrl = new RecetteController();
    IngredientController ingredientCntrl = new IngredientController();      
    IList <Models.Recettes.Recette> newRecettes = new List<Models.Recettes.Recette>();
    newRecettes = recetteCntrl.getNewRecettes().Cast<Models.Recettes.Recette>().ToList();
    foreach (var item in newRecettes)
    {
        <div class="col-xs-6 col-sm-3 recette">
            <a href="Recette/Details?id=@item.Id">
                @DisplayPicHelper.DisplayPicture(item.Picture, item.Name, "Recette")    
                @DisplayRecetteNoteHelper.DisplayRecetteNote(recetteCntrl.getRecetteNote(item.Id)) 
                <div class="bot">
                    <p class="name">@item.Name</p>          
                </div>
            </a>
        </div>
    }
}
