@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p> 
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@

<div class="col-xs-12 col-sm-9">
    <div class="content" id="content_home"> 
        <h1 class="page-title">Bienvenue sur NgCooking !</h1>
        <section class="section">
            <h2 class="title">~ Meilleures recettes ~</h2>
            <div class="recettes row">
                <div class="col-xs-6 col-sm-3 recette">
                    <a href="recettes_details.html">
                        <img src="~/img/recettes/tajine-de-poulet.jpg" alt="Le tajine de ta maman"> 
                        <div class="top" title="note : 3,2/5">
                            <span class="note">
                                <span class="glyphicon glyphicon-heart"></span>
                                <span class="glyphicon glyphicon-heart"></span>
                                <span class="glyphicon glyphicon-heart"></span>
                            </span>
                        </div>
                        <div class="bot">
                            <p class="name">Tajine de poulet</p>
                        </div>
                    </a>
                </div>
                <div class="col-xs-6 col-sm-3 recette">
                    <a href="recettes_details.html">
                        <img src="~/img/recettes/tarte-citron-meringue.jpg" alt="Tarte citron meringué">
                        <div class="top" title="note : 4,7/5">
                            <span class="note">
                                <span class="glyphicon glyphicon-heart"></span>
                                <span class="glyphicon glyphicon-heart"></span>
                                <span class="glyphicon glyphicon-heart"></span>
                                <span class="glyphicon glyphicon-heart"></span>
                                <span class="glyphicon glyphicon-heart"></span>
                            </span>
                        </div>
                        <div class="bot">
                            <p class="name">Tarte citron meringué</p>
                        </div>
                    </a>
                </div>
                <div class="col-xs-6 col-sm-3 recette">
                    <a href="recettes_details.html">
                        <img src="~/img/recettes/cake-jambon-olive.jpg" alt="Cake au jambon et aux olives">
                        <div class="top" title="note : 2,4/5">
                            <span class="note">
                                <span class="glyphicon glyphicon-heart"></span>
                                <span class="glyphicon glyphicon-heart"></span>
                            </span>
                        </div>
                        <div class="bot">
                            <p class="name">Cake au jambon et aux olives</p>
                        </div>
                    </a>
                </div>
                <div class="col-xs-6 col-sm-3 recette">
                    <a href="recettes_details.html">
                        <img src="~/img/recettes/saumon-echalotte.jpg" alt="Saumon à l'échalotte">
                        <div class="top" title="note : 3,2/5">
                            <span class="note">
                                <span class="glyphicon glyphicon-heart"></span>
                                <span class="glyphicon glyphicon-heart"></span>
                                <span class="glyphicon glyphicon-heart"></span>
                            </span>
                        </div>
                        <div class="bot">
                            <p class="name">Saumon à l'échalotte</p>
                        </div>
                    </a>
                </div>
            </div>
        </section>
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
        <section class="section newrecette">
            <div class="row">
                <div class="col-xs-12">
                    <p class="c">Vous en avez sous la toque ?!</p>
                    <p class="b">
                        <a href="recettes_new.html" class="btn btn_color1"><span class="glyphicon glyphicon-plus-sign"></span><span>Créez une nouvelle recette</span></a>
                    </p>
                </div>
            </div>
        </section>
}
        <section class="section">
            <h2 class="title">~ Nouvelles recettes ~</h2>
            <div class="recettes row">
                <div class="col-xs-6 col-sm-3 recette">
                    <a href="recettes_details.html">
                        <img src="~/img/recettes/cake-jambon-olive.jpg" alt="Cake au jambon et aux olives">
                        <div class="top" title="note : 2,4/5">
                            <span class="note">
                                <span class="glyphicon glyphicon-heart"></span>
                                <span class="glyphicon glyphicon-heart"></span>
                            </span>
                        </div>
                        <div class="bot">
                            <p class="name">Cake au jambon et aux olives</p>
                        </div>
                    </a>
                </div>
                <div class="col-xs-6 col-sm-3 recette">
                    <a href="recettes_details.html">
                        <img src="~/img/recettes/tajine-de-poulet.jpg" alt="Le tajine de ta maman">
                        <div class="top" title="note : 3,2/5">
                            <span class="note">
                                <span class="glyphicon glyphicon-heart"></span>
                                <span class="glyphicon glyphicon-heart"></span>
                                <span class="glyphicon glyphicon-heart"></span>
                            </span>
                        </div>
                        <div class="bot">
                            <p class="name">Tajine de poulet</p>
                        </div>
                    </a>
                </div>
                <div class="col-xs-6 col-sm-3 recette">
                    <a href="recettes_details.html">
                        <img src="~/img/recettes/saumon-echalotte.jpg" alt="Saumon à l'échalotte">
                        <div class="top" title="note : 3,2/5">
                            <span class="note">
                                <span class="glyphicon glyphicon-heart"></span>
                                <span class="glyphicon glyphicon-heart"></span>
                                <span class="glyphicon glyphicon-heart"></span>
                            </span>
                        </div>
                        <div class="bot">
                            <p class="name">Saumon à l'échalotte</p>
                        </div>
                    </a>
                </div>
                <div class="col-xs-6 col-sm-3 recette">
                    <a href="recettes_details.html">
                        <img src="~/img/recettes/tarte-citron-meringue.jpg" alt="Tarte citron meringué">
                        <div class="top" title="note : 4,7/5">
                            <span class="note">
                                <span class="glyphicon glyphicon-heart"></span>
                                <span class="glyphicon glyphicon-heart"></span>
                                <span class="glyphicon glyphicon-heart"></span>
                                <span class="glyphicon glyphicon-heart"></span>
                                <span class="glyphicon glyphicon-heart"></span>
                            </span>
                        </div>
                        <div class="bot">
                            <p class="name">Tarte citron meringué</p> 
                        </div>
                    </a>
                </div>
            </div>
        </section>
    </div>
</div>  
